@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    /*https://w0.peakpx.com/wallpaper/290/679/HD-wallpaper-harry-potter-harry-potter-and-the-chamber-of-secrets-hogwarts-castle.jpg*/
    /*Segunda opcion para el background*/
    background-image: url(https://images4.alphacoders.com/843/thumb-1920-84314.jpg); 
    background-size: cover;
}
#imagentitulo {
    display: flex;
    justify-content: center;
}
/*El punto . se utiliza para hacer referencia a una clase, que es el atributo que se le dio en HTML */
/*El numeral # se utiliza para hacer referencia al ID */

/*TIPOS DE DISPLAY*/
/* Display Block: aquellos que ocupan toda la pantalla de izquierda a derecha */
/* Display inline: aquellos que no ocupan toda la pantalla si no parte de ella */
/* el tipo de display depende del tamaño por defecto que este tenga*/

#eli{
    display: flex;
    /*justify-content: center;*/
    color: aliceblue;
    font-family: 'Shadows Into Light', cursive;
}

.css {
    display: flex;
    justify-content: space-evenly;
    
}

.css img {
    background-size: cover;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}

input{
    display: none;
    /*Lo usamos para que los input no esten visibles*/
}

input:checked + label{
    background-color: #112f58;
    /*Lo usamos para que el usuario pueda ver que algo se ha seleccionado*/
}


#sec-boton-mago {
    display: flex;
    justify-content: center;
    width: 90PX;
    height: 60px;
    margin: auto;
}

#boton-mago{
    background-color: #302929;
}

#encan { 
    display: flex;
    flex-direction: center;
    width: 90PX;
    height: 60px;
    gap: 30px;
    box-sizing: border-box;
}

#elien{
    display: flex;
    justify-content: center;
}

#mamae{
    display: flex;
}
#mae{
    display: flex;
    margin-left: 750px;
    color: #c4cbcc;
}

#elije-encantamiento{
    justify-content: space-evenly;
    height: 300px;
    gap: 30px;

    
}

#boton-esp{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}
#boton-pat{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}
#boton-red{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}
#boton-cru{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}
#boton-imp{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}
#boton-ava{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}

#separados{
    display: flex;
    flex-direction: column;
}

#Mensaje{
    display: flex;
    flex-direction: column;
}

#Reinicia{
    flex-direction: column;
    align-items: end;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}



